# Git | Ignore files specified below

# Local Settings
.htpasswd
.htaccess
robots.txt

# Auto git pull
repoData/config/config.ini
repoData/log/git-auto-pulls.log

# SVN crap
.svn/

# PHPStorm crap
.idea/
atlassian-ide-plugin.xml

# Eclipse crap
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings
.settings/*
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# TextMate crap
*.tmproj
*.tmproject
tmtags

# Vim crap
.*.sw[a-z]
*.un~
Session.vim

# SublimeText crap
/*.sublime-project
*.sublime-workspace

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

# Mac - Thumbnails
._*

# Mac - Files that might appear on external disk
.Spotlight-V100
.Trashes

# SASS cache
.sass-cache

#Translations
*.mo
